body {
    font-family: Arial, sans-serif;
    background-color: #000212;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    background-color: #1f2635;
    color: #fff;
}
li{
    color: #aeb2b6;
}
.navbar {
    padding: 20px 0;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #1f2635;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #aeb2b6;
    margin-bottom: 10px; 
}
p {
    color: #aeb2b6;
    margin-bottom: 8px; 
}
.section {
    margin-bottom: 20px;
}
.section-header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.section-header h2 {
    margin: 0;
}
.section-content {
    padding-left: 20px;
}

.footer {
    background-color: #2b3e50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}

.footer-nav {
    list-style-type: none;
}

.footer-nav li {
    display: inline-block;
    margin-right: 10px;
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
}
img {
    width: 200px;
    height: auto; 
    border-radius: 50%;
}
button{
    background-color: #2b3e50;
    color: #fff;
}